@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="spawnpage columned">

	<div class="nav">

		<div class="section">

		</div>

		<div class="section grow">
		</div>

		<div class="section">
			<button  @onclick="@PrintTick">Print Tick</button>

		</div>

	</div>

	<div class="contents">



	</div>

</root>


@code
{

	void PrintTick()
	{
		Log.Error(Game.TickRate);
	}

}