@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="spawnpage columned">

	<div class="nav">

		<div class="section">

		</div>

		<div class="section grow">
		</div>

		<div class="section">
			<button  @onclick="@tier1">Tier 1 Printer</button>

		</div>

	</div>

	<div class="contents">



	</div>

</root>


@code
{

	void tier1()
	{
	Log.Error("actually not possible yet as this is unfinished lol");

	}

}