NameTag {
    font-family: Poppins;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-stroke: 9px black;
    text-shadow: 0px 0px 15px black;
    justify-content: center;
    align-items: center;
    transform: translateX( -50% );
}